<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Administração de Categorias</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--<script src="js/jquery-3.1.0.min.js"></script>-->
    <script src="../../Scripts/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/16.2.4/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/16.2.4/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/16.2.4/css/dx.light.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))</script>
    <script src="https://cdn3.devexpress.com/jslib/16.2.4/js/dx.all.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="styles.css" />-->
    <script src="../../App/MokiIndicadoresApp.js"></script>
    <script src="../../App/Controllers/CategoriaController.js"></script>
</head>
<h3>Administração Categorias</h3>
<body class="dx-viewport" ng-app="MokiIndicadoresApp" ng-controller="CategoriaController">
    <div class="demo-container">
        <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
    </div>
</body>
</html>