<div class="class=" dx-fieldset">
    <div class="dx-field" ng-hide="Controles.ListaIndicador">
        <div class="dx-field-label">Indicadores:</div>
        <div class="dx-field-value">
            <div id="listaIndicadores" dx-tag-box="listaIndicadorConfig" style="width:500px;"></div>
        </div>
    </div>
    <div class="dx-field" ng-hide="Controles.ListaUnidade">
        <div class="dx-field-label">Unidades:</div>
        <div class="dx-field-value">
            <div id="listaUnidades" dx-tag-box="listaUnidadeConfig" style="width:500px;"></div>
        </div>
    </div>
    <div class="dx-field" ng-hide="Controles.RbFrequencia">
        <div class="dx-field-label">Frequência:</div>
        <div class="dx-field-value">
            <div id="rgFrequencia" dx-radio-group="escolhafrequencia"></div>
        </div>
    </div>
    <div class="dx-field" ng-hide="Controles.DatePickerInicial">
        <div class="dx-field-label">Data Inicial:</div>
        <div class="dx-field-value">
            <div id="dbDataInicial" dx-date-box="dbDataInicialConfig" style="width:20px"></div>
        </div>
    </div>
    <div class="dx-field" ng-hide="Controles.DatePickerFinal">
        <div class="dx-field-label">DataFinal:</div>
        <div class="dx-field-value">
            <div id="dbDataFinal" dx-date-box="dbDataFinalConfig" style="width:20px"></div>
        </div>
    </div>
</div>

