<h3>Importar Resultados e Metas</h3>
<div class="demo-container" ng-app="DemoApp" >
     
    <style>
        #tudo {
            width: 800px;
            height: 600px;
        }

        #listIndicadores {
            width: 200px;
            height: 200px;
            float: left;
        }

        #listColunas {
            position: relative;
            left: 200px;
            width: 200px;
            height: 200px;
            float: left;
        }


    </style>

    <div id="tudo">
        <div id="listIndicadores" dx-list="listOptions" style="float:left;position: relative;"></div>
        <div id="listColunas" dx-list="listColunaOptions" style="float:left;position: relative;"></div>
    </div>


    </div>