
<h3>{{titulo}}</h3>
<div class="demo-container">
    <div id="Popup">
        <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        <div id="ppCategoria"class="popup" dx-popup="popupOptions">
            <div data-options="dxTemplate: { name:'info' }">
                <div id="popcategoria-container" >
                    <div style="width: 100%; overflow: hidden;">
                        <div dx-text-box="textBox.tbCategoria" style="float: left;"></div>
                        <div dx-button="okButtonOptions" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    