
<h3>Administração Indicadores</h3>
<div class="demo-container">
    <div id="Popup">
        <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        <div class="popup" dx-popup="popupOptions">
            <div data-options="dxTemplate: { name:'info' }">
                <h3>Administração Categorias</h3>
                <div id="popcategoria-container" ng-controller="CategoriaController">
                    <div id="gridContainerCategoria" dx-data-grid="dataGridOptionsCategoria"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    